#myBody {
    background-color: white;
    color: black;
  }
  #switchButton {
     color: white;
    font-size: 20px;
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
  }
  
/* Dark Theme*/
.dark#myBody {
    background-color: black;
    color: white;
  }
  .dark#teamskills {
    background-color: black;
  }
  .dark #switchButton {
    background-color: black;
    border: 1px solid white;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: white;
  }
  .dark #switchButton .fa-moon {
    display: none;
  }
  .dark .card {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
  .header_right_content .btn {
    background-color: rgba(157, 157, 157, 0) !important;
    border-color: rgba(157, 157, 157, 0) !important;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    font-family: "Quicksand", sans-serif;
  }
  .container {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
  }

/* Title theme */
.title_theme {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: rgb(255, 102, 0);
    display: block;
    font-family: 'Pacifico', cursive;
}

.title_below_theme {
  font-weight: 600;
}
  
/* HEADER */
header#site-header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .title_sub {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
  }
  .title_main {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
  }
  .header_content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
  }
  h1 a.logo_brand {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: #eee;
    text-decoration: none;
  }
  .header_right_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    margin-right: 40px;
  }
  .search_icon {
    position: absolute;
    right: 10px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
    color: #60605f;
  }
  label {
    display: inline-block;
  }
  .search-bar input {
    display: flex;
    flex: 1;
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    color: #60605f;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    position: relative;
    right: 0;
    background: #232220;
    outline: 0;
    border: 1px solid #232220;
  }
  button#trigger-overlay {
    outline: none;
    border: none;
    background: none;
    text-align: center;
    color: #eee;
    font-size: 1.95em;
    padding: 0 8px;
  }
  
  /* OVERLAY */
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    background: rgb(6 3 0 / 77%);
  }
  
.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 34px;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
  }
  .overlay ul li {
    text-align: center;
  }
  .overlay ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #fff;
    transition: color 0.2s;
    margin: 10px 0;
  }
  .overlay ul li a:hover {
    color: #ff6600;
  }
  .overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #ff6600;
    color: #fff;
    border-radius: 5px;
  }
  .overlay .overlay-close {
    font-size: 20px;
  }
  .overlay-scale.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s, opacity 0.4s;
  }
  .overlay-scale {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  }
  /* HEADER */
  
/* BANNER */
.banner {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
  height: 700px;
}
.banner_content {
  display: grid;
  align-items: center;
  height: 100%;
  color: #fff;
}
.banner_info {
  max-width: 600px;
  text-align: left;
}
.banner_info h3 {
  font-size: 45px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
}
.banner_info p {
  font-size: 16px;
  line-height: 28px;
}
.banner_info .btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 5px;
}
.banner_info .btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
}
.banner_info .btn-white i {
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;
}
/* BANNER */ 

/* START About us */
.about_us {
  background-color: white;
}
.about_us_content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.content_left .title_active {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.content_left .title_sub {
  color: #fff;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.content_right p {
  font-size: 18px;
  line-height: 28px;
  color: #c2d0da;
  font-family: "Quicksand", sans-serif;
}

/* START BLOCK */
.block {
  background-color: #ff6600;
}
.block_content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -100px;
}
.content_left .block_img {
  background: url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}
.content_left .block_img::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.content_right .info_title {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
  font-family: "Pacifico", cursive;
}
.content_right .info_subtitle {
  color: #fff;
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
}
.content_right .block_subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 30px;
}
.subscribe_left .icon,
.subscribe_right .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: white;
  line-height: 70px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.subscribe_left .icon,
.subscribe_right .icon {
  font-size: 25px;
  color: #ff6600;
  line-height: 70px;
}
.subscribe_left .left_content,
.subscribe_right .right_content {
  display: block;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
.subscribe_left .icon:hover,
.subscribe_right .icon:hover {
  color: #ffc600;
}
/* Start DELICIOUS */
.delicious {
  background-image: url(../img/banner3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.delicious:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.delicious_container {
  max-width: 700px;
  margin: 0 auto;
}
.delicious_container h3 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
}
.delicious_content .btn-white {
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.5s;
  margin-right: 30px;
}
.delicious_content .btn-white:hover {
  background-color: #fff;
  color: #ff6600;
}
.delicious_content .btn-primary {
  color: #fff;
  background-color: #ff6600;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  border: 2px solid #ff6600;
  border-radius: 5px;
  transition: all 0.5s;
}
.delicious_content .btn-primary:hover {
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}
.delicious_content .btn-white i,
.delicious_content .btn-primary i {
  font-size: 15px;
}
/* NUMBER */
.number {
  background-color: #232220;
  z-index: 10;
  position: relative;
}
.number_card {
  display: flex;
  gap: 30px;
  margin-right: -15px;
  margin-left: -15px;
}
.number_card .item_content {
  background-color: #232220;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s;
  transform: translateY(-75px);
}
.number_card .item_content:hover {
  transform: translateY(-5.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transition: 0.3s ease;
}
.number_card .item_content i {
  width: 68px;
  height: 68px;
  line-height: 68px;
  border-radius: 50%;
  background-color: #ff6600;
  font-size: 26px;
  color: #fff;
  text-align: center;
}
.number_card .item_subcontent {
  font-size: 2.6em;
  font-weight: 700;
  color: #fff;
}
.number_card .item_content {
  color: #c2d0da;
}
/* VIDEO */

.video .video__content {
  background-image: url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  min-height: 500px;
  border-radius: 7px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.video .video__content::before {
  content: '';
  position: absolute;
  z-index: -1;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(16 15 19 / 60%);
  border-radius: 7px;
}

.video__content a i {
  color: #ff6600;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  animation: animated 1s linear infinite;
  transition: all .3s ease-in-out;
}

.video__content a i:hover {
  transform: scale(1.2);
  background-color: #ff6600;
  color: white;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}
/**
     * Fade-zoom animation for first dialog
     */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/* VIDEO */

/* CATEGORIES */

.category {
  background-color: rgb(247, 247, 247);
}

.category .img__slides {
  position: relative;
}

.category .img__slides::after {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, 
  rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  position: absolute;
  border-radius: 0 0 10px 10px;
}

.category .col-lg-4 {
  position: relative;
}

.img__slides img {
  width: 100%;
  border-radius: 10px;
}

.img__slides img:hover {
  opacity: .8;
  transition: all .5s;
}

.category .info__slides {
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 95%;
}

.category .info__slides a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.category .info__slides h6 {
  color: rgb(237, 187, 7);
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
 /* CATEGORIES */

 /* FEATURES */

 .features p {
  font-size: 17px;
  font-weight: 300;
 }

 .box-wrap {
  padding: 40px 40px 20px 40px;
  transition: all 0.5s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  position: relative;
  border: 1px solid #eee;
 }

 .box-wrap:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
 }

 .box-wrap:hover .features__icon {
  color: white;
  background: #ff6600;
 }

 .features__top {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
 }

 .features__top .features__icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(248, 247, 255);
  color: #ff6600;
  border-radius: 5px;
  transition: all .5s;
 }

 .features__top .features__info {
  line-height: 5px;
 }

 .features__top .features__info h4 {
  font-size: 1.2rem;
  font-weight: 600;
 }

 .features__top .features__info a {
  display: block;
  color: black;
  text-decoration: none;
  transition: all .5s;
 }

 .features .features__info a:hover {
  color: #ff6600;
 }

 /* FEATURES */

 /* POSTS */

 .post {
  background-color: rgb(247, 247, 247);
 }

 .post img {
  border-radius: 7px;
 }

 .post .post__image a:nth-child(2) {
  position: absolute;
  left: 15px;
  bottom: 15px;
  text-decoration: none;
  color: #ff6600;
  transition: all .5s;
 }

 .post .post__image a:hover {
  color: #5431ac;
 }

 .post .post__content a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
 }

 .post .post__footer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
 }

 .post .post__footer a {
  font-size: 1rem;
  font-weight: bold;
 }

 .post__footer .post__right a {
  color: rgb(56, 54, 54);
 }

 /* POSTS */

 /* TESTIMONIALS */

 .testimonials .testimonial__content {
  max-width: 700px;
 }

 .testimonials .testimonial__content img {
  display: block;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
 }

 .testimonial__content i {
  font-size: 1.5rem;
  color: #ff6600;
 }

 .testimonial__content blockquote q {
  font-size: 1.5rem;
 }

 .testimonial__content p {
  font-size: 1.1rem;
  color: rgb(136, 140, 148);
 }

 .testimonial__content .testimonial__top p {
  line-height: 1.9rem;
 }

 .testimonial__content .testimonial__bottom h4 {
  font-size: 1.2rem;
  font-weight: 600;
 }

 .owl-theme .owl-dots button.owl-dot.active span, 
 .owl-theme .owl-dots button.owl-dot:hover span {
  background-color: #ff6600;
 }

 /* TESTIMONIALS */

 /* FOOTER */

 footer {
  background-color: black;
 }

 footer a {
  text-decoration: none;
 }

 footer .footer__content {
  color: #a5a2a1;
 }

 footer .footer__content h3.pb-3 a {
  color: white;
  transition: all .5s;
 }

 footer .footer__content h3.pb-3 a:hover {
  color: #ff6600;
 }

 footer h4 {
  color: white;
  font-weight: 600;
 }

 footer .footer__content a i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: white;
  color: #ff6600;
  border-radius: 7px;
  transition: all .5s;
 }

 footer .footer__content a:hover i {
  color: white;
  background-color: #ff6600;
 }

 footer .footer__content p a {
  color: #a5a2a1;
  transition: all .5s;
 }

 footer .footer__content p a:hover {
  color: #ff6600;
 }

 footer form input {
  border: 1px solid transparent;
 }

 footer form input:focus {
  border: 1px solid #ff6600;
 }

 footer form button {
  font-weight: 600;
  color: white;
  background-color: #ff6600;
 }

 footer form button, footer form input {
  height: 60px;
  border-radius: 7px;
  outline: none;
 }

 footer .footer__copyright {
  border-top: 1px solid rgb(255, 255, 255, 5%);
 }

 footer .footer__copyright p {
  color: #ddd;
 }

 .footer__copyright span {
  color: #ff6600;
  transition: all .5s;
 }

 .footer__copyright span:hover {
  color: white;
 }

 /* FOOTER */

 /* ****** RESPONSIVE *****  */
 @media screen and (max-width: 675px) {
  /* TESTIMONIALS */
  .testimonial__content blockquote q {
    font-size: 1.3rem;
   }
 }

 @media screen and (max-width: 800px) {

  /* CATEGORIES */
  .category .info__slides a {
    font-size: 1.2rem;
  }
  
  .category .info__slides h6 {
    font-size: 1rem;
  }
 }

 @media screen and (max-width: 990px) {

  /* POSTS */
  .post .post__content a {
    font-size: 1.2rem;
  }

  .post .post__footer a {
    font-size: 0.8rem;
  }
 }

 @media screen and (max-width: 991.98px) {
  /* FOOTER */
  .footer__item:first-child, .footer__item:nth-child(2) {
    margin-bottom: 35px;
  }

  .footer__copyright p {
    text-align: center;
  }
 }

 @media screen and (max-width: 1081px) {

  /* TITLE THEME */
  .title_below_theme {
    font-size: 1.5rem;
  }

  /* FEATURES */
  .features__top .features__info h4 {
    font-size: 1rem;
   }
 }

 @media screen and (max-width: 1199.98px) {

  /* POSTS */
  .post .post__footer a {
    font-size: 0.9rem;
  }
 }

 /* ANIMATION VIDEO POPUP LINK */
 @keyframes animated {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 
    0 0 0 10px rgb(255 255 255 / 25%), 
    0 0 0 20px rgb(255 255 255 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 
    0 0 0 20px rgb(255 255 255 / 25%), 
    0 0 0 40px rgba(50, 100, 245, 0);
  }
 }


